.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
  
.label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

  
.addBtn {
    background-color: rgb(66, 196, 232);
    color: #000;
    border: 1px solid rgb(5, 21, 237);
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
  
.addBtn:hover {
    background-color: #000;
    color: #fff;
}