.contactsList {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;

    max-width: 800px;
    border: 1px solid greenyellow;
  }
  
  .contactItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .contactItem:last-child {
    border-bottom: none;
  }
  
  .removeBtn {
    background-color: #fff;
    color: #ff0000;
    border: 1px solid #ff0000;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .removeBtn:hover {
    background-color: #ff0000;
    color: #fff;
  }
  